@{
    ViewData["Title"] = "Welcome!";
}

<div class="jumbotron">
        <h1 class="display-4">Welcome to the best place for mutual travelling!</h1>
        <p class="lead">Want to reduce the money you spend on travelling?</p>
        <p class="lead">Want to have some company while on the road?</p>
        <p class="lead">Then you are in the right place! Click the button below to get started!</p>
        <hr class="my-4">
        <p class="lead">
            <a asp-controller="Drivers" asp-action="Join" class="btn btn-primary btn-lg" role="button">Join As Driver</a>
            <button type="button" class="btn btn-danger btn-lg">Join As Rider</button>
        </p>
        <img src="https://icdn.digitaltrends.com/image/digitaltrends/best-ridesharing-apps-scoop-500x500.jpg" class="img-fluid" alt="Responsive image">
    </div>
