@using RideSharing.Data.Models
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@inject IDriverService Drivers
@inject IRiderService Riders

@{
    ViewData["Title"] = "Welcome!";
}

<div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 align-items-center my-5">
                
                <div class="col-lg-7"><img class="img-fluid rounded mb-4 mb-lg-0" src="https://i.ibb.co/x6LdPHk/pic1.png" alt="..." /></div>
                <div class="col-lg-5">
                    <h1 style = font-size:52px;>Добре дошли на най-доброто място за споделено пътуване!</h1>
                    <br />
                    <p>
                        <h4>Искате да намалите своите разходи за пътуване?</h4>
                    </p>
                    <p>
                        <h4>Искате компания по време на път?</h4>
                    </p>
					<p>
                        <h4>В такъв случай сте на правилното място! Натиснете на един от бутоните долу!</h4>
                    </p>
                    <p>
                        @if (SignInManager.IsSignedIn(User))
                        {
                            var userId = User.Id();
                            var userIsDriver = Drivers.IsDriver(userId);
                            var userIsRider = Riders.IsRider(userId);

                            @if(!userIsDriver && !userIsRider)
                            {
                                <a asp-controller="Drivers" asp-action="Join" class="btn btn-primary btn-lg" role="button">Присъединяване като шофьор</a>
                                <a asp-controller="Riders" asp-action="Join" class="btn btn-danger btn-lg" role="button">Присъединяване като пътник</a>
                            }
                            else if(!userIsDriver && userIsRider)
                            {
                                <a asp-controller="Drivers" asp-action="Join" class="btn btn-primary btn-lg" role="button">Присъединяване като шофьор</a>
                            }
                            else if(userIsDriver && !userIsRider)
                            {
                                <a asp-controller="Riders" asp-action="Join" class="btn btn-danger btn-lg" role="button">Присъединяване като пътник</a>
				            }
			            }
			            else
			            {
			            	<a asp-controller="Drivers" asp-action="Join" class="btn btn-primary btn-lg" role="button">Присъединяване като шофьор</a>
			            	<a asp-controller="Riders" asp-action="Join" class="btn btn-danger btn-lg" role="button">Присъединяване като пътник</a>
			            }
                        </p>
                </div>
            </div>
        </div>


    