@using RideSharing.Services.Vehicles.Models
@model VehicleDeleteServiceModel

@{
    ViewData["Title"] = "Delete Vehicle";
}

<div class="row">
    <div class="col-md-6 offset-md-3">
        <div class="card card-danger">
            <div class="card-header">
                <h3 class="card-title">Сигурни ли сте, че искате да премахнете:</h3>
            </div>
            <form method="post">
                <div class="card-body">
                    <div class="form-group text-center">
                        <h3 class="card-title text-center">@Model.Brand @Model.Model @Model.YearOfCreation </h3>
                        <img class="img-fluid" src="@Model.ImagePath" alt="Image">
                    </div>
                </div>
                <div class="card-body">
                    <button type="submit" class="btn btn-danger float-right">Изтриване</button>
                    <a href="/Vehicles/MyVehicles" class="btn btn-secondary">Отказ</a>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}